#chat{
	opacity: .5;
	max-height: 30%;
}

#chat:hover{
	opacity: 1;
}

#chat-login-text{
	font-size: 1.2rem; /*nice on the eyes */
}




/** footer code (to get it always at the bottom - "sticky footer"): view-source:https://getbootstrap.com/docs/4.1/examples/sticky-footer/ **/
footer
{
	bottom: 0;
	background-color: black;
	width: 100%;
	position: absolute;
	height: 180px;
}

body
{
	margin-bottom: 180px;
}


html {
	position: relative;
	min-height: 100%;
}
